.column-header,
.column-cell {
  width: 100px;
  max-width: 250px;
  min-width: 50px;
}

.completed-column-header,
.completed-column-cell {
  width: 50px;
  /* Adjust the width as needed */
  max-width: 200px;
  min-width: 100px;
}

.centered-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.completed-task {
  background-color: rgb(168, 255, 177);
}

.button-content {
  display: flex;
  align-items: center;
}

.table-container {
  display: block;
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 8px;
  word-wrap: break-word;
  white-space: normal;
}

@media screen and (max-width: 600px) {
  th, td {
    padding: 6px;
    font-size: 12px;
  }

  th {
    font-size: 13px;
  }
}

